<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>index2_show</title>
</head>
<body>
    <div class="container">
        <div class="data_show">
            <ul class="show_list">
                <li><%= sendData[0].name %></li>
                <li><%= sendData[1].psd %></li>
                <li><%= sendData[3].email %></li>
                <li><%= sendData[4].phone %></li>
                <li><img src="<%= avator %>" alt="avator" width="100" height="100" /></li>
            </ul>
        </div>
    </div>
</body>
</html>